<ion-content class="ion-padding">
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center " style="height: 100%">
      <div class="holder">
        <div class="the-title">
          <img src="assets/imgs/bg/logo.png" alt="Logo">
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="resetPassword()">
          <div class="details">
            <div class="detail-item">
              <ion-label>Password</ion-label>
              <ion-item>
                <span class="icn-holder" slot="end" *ngIf="!loginForm.get('password').invalid">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </span>
                <ion-input type="password" formControlName="password" class="username" placeholder="Enter Password"> </ion-input>
              </ion-item>

              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                  <div class="error-message"
                    *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="detail-item">
              <ion-label>ConFirm Password</ion-label>
              <ion-item>
                <span class="icn-holder" slot="end" *ngIf="!loginForm.get('confirm').invalid">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </span>
                <ion-input type="password" formControlName="confirm" class="username" placeholder="Enter Confirm Password"> </ion-input>
              </ion-item>

              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.confirm">
                  <div class="error-message"
                    *ngIf="loginForm.get('confirm').hasError(error.type) && (loginForm.get('confirm').dirty || loginForm.get('confirm').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          
          <div class="btn-holder">
            <ion-button expand="block" type="submit" routerDirection="root" [disabled]="loginForm.invalid">
              Agree
            </ion-button>
          </div>
          <div class="signup-holder">
            <p (click)="goLogin()">Login ?</p>
          </div>
        </form>
      </div>
    </ion-row>
  </ion-grid>


  
</ion-content>