<ion-content>

  <!-- fab placed to the bottom end -->  
  <ion-fab vertical="top" horizontal="start" slot="fixed">  
    <ion-fab-button (click)="goDashboardPage()">  
      <ion-icon name="arrow-undo-circle-sharp"></ion-icon>  
    </ion-fab-button>  
  </ion-fab>  
      
  <ion-list style="margin-top: 20px;">
    <ion-list-header>
      <ion-label>
        <h1 style="text-align: center;">Arm / Disarm setting</h1>
      </ion-label>
    </ion-list-header>

  </ion-list>

  <ion-list *ngFor="let item of allDevices">

    <ion-item *ngIf="item.isArm == 1">
      <ion-label>{{item.name}}</ion-label>
      <ion-toggle color="secondary" checked (ionChange)="checkState(item.id, $event.target.checked)"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="item.isArm == 0">
      <ion-label>{{item.name}}</ion-label>
      <ion-toggle color="secondary"  (ionChange)="checkState(item.id, $event.target.checked)"></ion-toggle>
    </ion-item>


  </ion-list>
</ion-content>
