<ion-content class="ion-padding">
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center " style="height: 100%">
      <div class="holder">
        
        <div class="the-title">
          <img src="assets/imgs/bg/logo.png" alt="Logo">
        </div>

        <div class="form">

          <h1 class="header-title">SAFE PARK</h1>
          
          <div class="btn-holder">
            <ion-button expand="block" class="light" color="light" (click)="goSignIn()">
              Sign In
            </ion-button>
          </div>

          <div class="btn-holder">
            <ion-button expand="block" class="btnViolet" color="royal" (click)="goSignUp()">
              Sign Up
            </ion-button>
          </div>

        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>