ion-button {
    --background: #171717;
}

ion-content {
    --background: #ffffff;
}

ion-icon {
    --background: #fec805 !important;
    color: #fec805 !important;
    --color: #fec805 !important;
}

.btn-text {
    --background: #fec805 !important;
    color: #fec805 !important;
    --color: #fec805 !important;
    size: 12px;
}