<ion-content class="ion-padding">
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center " style="height: 100%">
      <div class="holder">
        <form [formGroup]="loginForm" (ngSubmit)="forgotPassword()">
          <div class="details">
            <div class="detail-item">
              <ion-label>Username</ion-label>
              <ion-item>
                <span class="icn-holder" slot="end" *ngIf="!loginForm.get('username').invalid">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </span>
                <ion-input formControlName="username" class="username" placeholder="Enter Username"> </ion-input>
              </ion-item>

              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.username">
                  <div class="error-message"
                    *ngIf="loginForm.get('username').hasError(error.type) && (loginForm.get('username').dirty || loginForm.get('username').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="detail-item">
              <ion-label>User Email</ion-label>
              <ion-item>
                <span class="icn-holder" slot="end" *ngIf="!loginForm.get('useremail').invalid">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </span>
                <ion-input class="password" placeholder="Enter Email" formControlName="useremail"> </ion-input>
              </ion-item>
            </div>

            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.useremail">
                <div class="error-message"
                  *ngIf="loginForm.get('useremail').hasError(error.type) && (loginForm.get('useremail').dirty || loginForm.get('useremail').touched)">
                  {{error.message}}
                </div>
              </ng-container>
            </div>
          </div>
          
          <div class="btn-holder">
            <ion-button expand="block" type="submit" routerDirection="root" [disabled]="loginForm.invalid">
              Send
            </ion-button>
          </div>
          <div class="signup-holder">
            <p (click)="goLogin()">Sign In ?</p>
          </div>
        </form>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>